<div class="flex-item">
    <div style="display: block;" class="chartContainer">
        <h2 fxLayoutAlign="center center">Headache Intensity By Day</h2>
        <canvas 
            class="chartContainer"
            baseChart
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType">
        </canvas>
    </div>
</div>

