<app-nav></app-nav>
<mat-tab-group>
    <mat-tab label="Experience">  
           <!-- Experience Section -->
       <section id="experience">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                <h2>Experience</h2>
				<div class = "experienceContainer">
					<h3>GE Appliances   Louisville, KY   MAY 2017 - Present</h3>
						<img src="../../assets/pictures/geLogo.png" class = "GE"/>
						<h4>Factory Information Systems Analyst - Experience Officer Development Program</h4>
							<p>
								Designed and implemented torque gun bypass status screen allowing the quality organization better 
								visibility and faster reaction time to nonstandard conditions on the assembly lines. 
								Converted legacy Alvey screen to current Proficy project allowing the COE team in AP1 visibility 
								of their inventory from Proficy Webspace
								<br>
								<br>
								FIS analyst in AP3 for the P1 door line project. Designed and managed the installation of 9 scanners 
								and 15 pick screens while supporting plant operations for all other lines
							</p>
				</div>
				
				<div class = "experienceContainer">
					<h3>GE Appliances   Louisville, KY   SEP 2016 - MAY 2017</h3>
						<img src="../../assets/pictures/geLogo.png" class = "GE"/>
						<h4>AP5 ABL / Door in Door NPI Operations Leader - Experience Officer Development Program</h4>
							<p>
								Increased schedule achievement percentage from 92.06% to 98.05% increasing profit by $58,226.07 in 5 months.
								<br>
								<br>
								Increased schedule achievement from 74.9% to 88% by conducting an improvement project to provide room for IM5D 
								material and working with materials to increase safety stock levels to decrease down time.
								<br>
								<br>
								Decreased assembly times for Post-Foam Assembly by 21%, Pre-Foam Outer Door by 43%, and Pre-Foam Frame Door Assembly by 48%
							</p>
				</div>
				
				<div class = "experienceContainer">
					<h3>GE Appliances   Louisville, KY   JAN 2016 - SEP 2016</h3>
						<img src="../../assets/pictures/geLogo.png" class = "GE"/>
						<h4>AP4 Material Flow Project Manager - Experience Officer Development Program</h4>
							
							<p>Project Lead for a lean transformation project to update material storage and flow in AP4. 
							This resulted in the reduction to the average amount of inventory of finished goods in 
							supermarkets from January 2016 to September 2016 by 43%.</p>
				</div>
				
				<div class = "experienceContainer">
					<h3>Warrior to Cyber Warrior Program   Louisville, KY   May 2015 - Present</h3>
						<img src="../../assets/pictures/W2CW.png" class = "W2CW"/>
						<h4>Student</h4>
							
						<p>
                            Student in a 6 month Cyber Security training program that includes knowledge of 
							NIST/CNSS assessment specifications, protocols and procedures in line with the Risk Management Framework.
							Completed coursework in networking, threats and vulnerabilities, network security devices, network 
                            security techniques, risk management strategies, and recovery planning.
                        </p>
				</div>
				
				<div class = "experienceContainer">
					<h3>US ARMY	Fort Hood, TX	JAN 2015 - MAY 2015</h3>
						<img src="../../assets/pictures/USArmy.jpg" class="USArmy">
						<h4>Battalion Assistant Plans Officer</h4>
						
							<p>Collected, assimilated, analyzed, and processed information needed for making effective decisions for tactical, 
							mid-term, and strategic objectives of senior officers and executives. This included developing roadmaps and strategic 
							plans to support operations.</p>
							<p>Responsible for the written and verbal presentation to supervisors for the plan of operating Fort Hood's Controlled 
							Monitoring Area for service members returning from EBOLA outbreak areas in West Africa and responding to any critical incidents.</p>
							<p>Assigned as an Investigative Officer to conduct several investigations of selling illegal drugs, loss of Government 
							property, and sexual harassment. Presented findings in written reports to superiors.</p>
				</div>
				
				<div class = "experienceContainer">
					<h3>US ARMY	Fort Hood, TX / Vilnius, Lithuania	MAY 2014 - JAN 2015</h3>
					<img src="../../assets/pictures/USArmy.jpg" class="USArmy">
						<h4>United States Army Europe Liaison Officer to the Embassy of United States Vilnius, Lithuania</h4>
						
							<p>Successfully Ensured VIP security for over 10 US Army General and US dignitary visits to Lithuania. Ensured all transportation, 
							protection, and logistical issues for all visits with zero incidents.</p>
				</div>
				
				<div class = "experienceContainer">
					<h3>US ARMY	Fort Hood, TX	MAY 2010 - MAY 2014</h3>
						<img src="../../assets/pictures/USArmy.jpg" class="USArmy">
						<h4>Platoon Leader</h4>
							<p>
								Managed the Personal Security Detachment for the Deputy Brigade Commander and other VIPs during combat operations in Iraq.
								<br>
								Completed full spectrum operational risk assessments on all training and combat operations by identifying potential threats 
								and applying risk mitigation strategies to reduce the effects of threats.
							</p>
				</div>
                </div>
            </div>
        </div>
    </section>

    </mat-tab>
    <mat-tab label="Education">  
        <!-- Education Section -->
       <section id="education">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">

						<h2>Education</h2>
						<div class = "experienceContainer">
							<img src="../../assets/pictures/UofL.jpg" class="WestPoint">
								<h3>University of Louisville	Louisville, KY	AUG 2016 - MAY 2018</h3>
								<h4>M.S. Computer Science</h4>
								<p>Graduate Certificate: Cybersecurity</p>
						</div>
						
						<div class = "experienceContainer">
							<img src="../../assets/pictures/WestPointSymbol.jpg" class="WestPoint">
								<h3>UNITED STATE MILITARY ACADEMY	West Point, NY	AUG 2006 - MAY 2010</h3>
								<h4>B.S. Engineering Psychology</h4>
								<p>Kurkowski-Reed award winner for highest GPA in Engineering Psychology 2010</p>
						</div>
						
						<div class = "experienceContainer">
						<img src="../../assets/pictures/SU.png" class="WestPoint">
							<h3>Syracuse University		AUG 2015 - MAY 2016</h3>
							<h4>Veterans Career Transition Program Tech Track</h4>
							<p>
								VET 387: Preventing Unauthorized Access
								- Validates knowledge of threat mitigation and security techniques
								<br>
								<br>
								VET 381: Systems Security Certified Practitioner
								- Validates knowledge and professional experience in Information Security practices
								<br>
								<br>
								VET 304: Technical Fundamental for the IT Professional
								- Validates entry level knowledge of network technologies, installation and configuration, media and topologies, management, and security
								- Validates knowledge in system hardware, software, storage, best practices in an IT environment, disaster recovery and troubleshooting
                            </p>
                         </div>
                </div>
            </div>
        </div>
    </section>

    </mat-tab>
    <mat-tab label="Tech Summary">  
        <h3>Certifications</h3>
        <img src="../../assets/pictures/ceh.png" class="security">
        <p>Certified Ethical Hacker</p>

        <img src="../../assets/pictures/security+.jpg" class="security">
        <p>CompTIA Security+</p>

        <img src="../../assets/pictures/fema.jpg" class="fema">
        <p>FEMA Professional Continuity Practitioner</p>

    </mat-tab>
</mat-tab-group>


