<app-nav></app-nav>
<div fxLayout="row wrap" fxLayoutAlign="space-evenly center" >
    <mat-card class="app-card flex-item" routerLink="/headache">
      <mat-card-header>
          <mat-card-title>Headache Tracker</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img class="headacheImg" src="../../assets/icons/headache.svg">
      </mat-card-content>
    </mat-card>
  
    <mat-card class="app-card flex-item" routerLink="/COVID19">
      <mat-card-header>
          <mat-card-title>COVID-19 Tracker</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img class="covid19Img" src="../../assets/icons/Covid 19_SVG.svg">
      </mat-card-content>
    </mat-card>

    <a href="https://ng-fishapp.firebaseapp.com/">
      <mat-card class="app-card flex-item" routerLink="/COVID19">
        <mat-card-header>
            <mat-card-title>Fly Fishing Journal</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img class="flyfishimg" src="../../assets/icons/Fly_Fishing.JPG">
        </mat-card-content>
      </mat-card>
    </a>
  </div>