@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .app-card{
        max-height: 300px;
        max-width: 250px;
    }

    .flyfishimg{
        max-height: 300px;
        max-width: 200px;
    }
}
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ 
    .app-card{
        max-height: 300px;
        max-width: 250px;
    }

    .flyfishimg{
        max-height: 300px;
        max-width: 200px;
    }
}
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
    .app-card{
        max-height: 300px;
        max-width: 250px;
    }

    .flyfishimg{
        max-height: 300px;
        max-width: 200px;
    }
}
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    .app-card{
        min-height: 350px;
        min-width: 300px;
    }

    .flyfishimg{
        max-height: 300px;
        width: 300px;
    }
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
    .app-card{
        min-height: 350px;
        min-width: 300px;
    }

    .flyfishimg{
        max-height: 300px;
        max-width: 300px;
    }
}
@media (min-width:1281px) { /* hi-res laptops and desktops */ 
    .app-card{
        min-height: 350px;
        min-width: 300px;
    }

    .flyfishimg{
        max-height: 300px;
        max-width: 300px;
    }
}

.cyber{
    max-width: 300px;
    padding-top: 20%;
}

.app-card{
    margin-top: 20px
}

.app-card:hover{
    cursor: pointer;
}

a {
    text-decoration: none;
}

